:root {
    --primary-color: black;
    --secondary-color: black;
    --tertiary-color: black;
    --link-color: black;
    --highlighted-color: black;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(36, 36, 36);
    height: 100vh;
}